<div class="announcement-bar">
  <div class="announcement-bar__track">
    {% assign msg = section.settings.message | default: 'FRETE GRÁTIS EM COMPRAS ACIMA DE R$199' %}
    <span>{{ msg }}</span><span>{{ msg }}</span><span>{{ msg }}</span><span>{{ msg }}</span>
    <span>{{ msg }}</span><span>{{ msg }}</span><span>{{ msg }}</span><span>{{ msg }}</span>
  </div>
</div>

{% schema %}
{
  "name": "Barra de aviso",
  "settings": [ { "type": "text", "id": "message", "label": "Mensagem", "default": "FRETE GRÁTIS EM COMPRAS ACIMA DE R$199" } ],
  "presets": [ { "name": "Barra de aviso" } ]
}
{% endschema %}
